streamlit==1.25.0  # Интерфейс для разработки приложений
numpy==1.24.4      # Библиотека для работы с массивами и линейной алгебры
opencv-python-headless==4.7.0.72  # Библиотека для обработки изображений без оконного интерфейса
Pillow==10.1.0     # Библиотека для работы с изображениями (растровыми форматами)
pytorch-lightning==2.0.9  # Фреймворк для упрощения обучения моделей PyTorch
rich==13.5.1       # Библиотека для красивого вывода в консоль
